.landing{
    height:100vh;
    position: relative;
    z-index: -10;
    overflow-x: hidden;
    background: rgb(32,25,161);
    background: linear-gradient(300deg, rgba(32,25,161,1) 8%, rgba(39,16,172,1) 24%, rgba(20,64,221,1) 40%, rgb(27, 60, 179) 50%, rgba(20,64,221,1) 60%, rgba(39,16,172,1) 76%, rgba(32,25,161,1) 89%);
    .space{
        height:500px;
        padding:300px 0;
        margin-bottom:200px;
    }
    
    .decorLogoReact{
        @include breakpoint-up(md){
            top:-650px;
            height:600px;
            width:850px;
            left:370px;
        }
        @include breakpoint-up(lg){

        }
    }
    .mainTitle{
        @include breakpoint-up(md){
            position: absolute;
            top:20rem;
            color:$primaryColor_Crayola_Sky_blue;
            font-size:5rem;
            font-weight: 400;
        }
    }
}
