
//Colors
$primaryColor_Crayola_Sky_blue: #61DAFB;
$primaryColor_Crayola_Sky_Blue--Shade: #4DAFC8;
$priamryColor_Crayola_Sky_Blue--Tint: #BFF0FD;

$secondaryColor_Dark_Green:#034D36;
$secondaryColor_Dark_Green--shade:#023D2B;
$secondaryColor_Dark_Green-Tint: #35705E;


